{
  auto_https off
}

:80 {
    @api path /api /api/*
    @auth path /auth /auth/*

    handle @auth {
        reverse_proxy nas-logo-gateway:8000
    }

    handle @api {
        uri strip_prefix /api
        reverse_proxy nas-logo-gateway:8000
    }

    handle {
        reverse_proxy nas-logo-ui:8080
    }
}
