{
  auto_https off
}

nas.logo-solutions.fr {
    tls /etc/caddy/certs/nas-chain.crt /etc/caddy/certs/nas-leaf.key

    @auth path /auth /auth/*
    handle @auth {
        reverse_proxy nas-logo-gateway:8000
    }

    @api path /api /api/*
    handle @api {
        uri strip_prefix /api
        reverse_proxy nas-logo-gateway:8000
    }

    @immich path /immich /immich/*
    handle @immich {
        reverse_proxy nas-logo-gateway:8000
    }

    handle * {
        reverse_proxy nas-logo-ui:8080
    }
}
